<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('./partials/nav') %>

<body class="body-style">
<main>
  <h1>Welcome to recipe collector, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>

<div class="info-box">
<h3>The website info and instructions will go here</h3>
<h4>Save website url links for your favority recipes and share them with friends</h4>
<h4>Sign in to add, edit, and delete recipes, and to rate and review all the recipes posted by the group</h4>
</div>

</main>
</body>

<%- include('./partials/footer') %>
