<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/recipes/edit.css">
  <%- include('../partials/nav') %>

    <body>
      <main>
        <section class="section-right">
          <form id="new-form" action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
            <h1>Edit this recipe </h1>
            <h2>Make changes in the form below and then press the button to save</h2>
            <div class="input-display">
              <div class="all-edit-inputs">
                <div class="edit-name">
                  <label for="name">Name:</label>
                  <input type="text" id="name" name="name" value="<%= recipe.name %>" autocomplete="off" />
                </div>
                <div class="edit-url">
                  <label for="url">URL</label>
                  <input type="url" name="url" id="url" placeholder="https://example.com" pattern="https://.*" size="30"
                    required />
                </div>
                <div class="btn">
                  <button type="submit">Save your changes</button>
                </div>
              </div>
            </div>
          </form>
        </section>
        <section class="section-left">
          <img class="image" src="/ketchup.png" alt="" />
        </section>
      </main>
    </body>

    <%- include('../partials/footer') %>