<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section class="index-body">
  <h1>All your recipes are here</h1>
  <h2>Add a recipe</h2>
  <form id="new-form" action="/recipes" method="POST">
    <label>Name of recipe:
    <input type="text" name="name" required="required" autocomplete="off">
    </label>
    <label>Ingredients:
      <input type="text" name="ingredients" required="required" autocomplete="off">
    </label>
    <label>Instructions:</label>
    <input type="text" name="instructions" required="required"
    autocomplete="off">
    <button type="sumbit">Add recipe</button>
  </form>

	<ul>
  <% recipes.forEach(recipe => { %>
    <li>
      <a href="/recipes/<%= recipe._id %>" class="link"><%= recipe.name %>
      <% }) %></a>
    </li>
  </ul>
</section>

<%- include('../partials/footer') %>