<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/recipes/index.css" />
  <%- include('../partials/nav') %>

    <body>
      <main>
        <section class="section-right">
          <div class="add-new-button">
            <div>
              <h1>Here are all the recipes</h1>
              <h4>Click the recipes below to view details</h4>
            </div>
          
            <a class="add-new" href="/recipes/new">
              <button class="new-button">Add a new recipe</button>
            </a>

          </div>

         

          <div class="recipe-links">
            <% recipes.forEach(recipe=> { %>
              <a class="recipe-list" href="/recipes/<%= recipe._id %>">
                <%= recipe.name %>
              </a>
              <% }) %></a>
          </div>
        </section>
        <section class="section-left">
          <img src="/healthy-food.png" alt=""/>
        </section>
      </main>
    </body>
    <%- include('../partials/footer') %>