<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

    <section>
      <p>From the kitchen of <%= recipe.owner.name %>...</p>
      <h1>
        <%= recipe.name %>
        <%= recipe.ingredients %> 
        <%= recipe.directions %> 
    </section>

    <%- include('../partials/footer') %>