<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

    <section>
      <p>From the kitchen of <%= recipe.owner.name %>...</p>
      <h1>
        <%= recipe.name %>
        <%= recipe.ingredients %> 
        <%= recipe.instructions %> 
        <p></p>
        <% if (recipe.owner.equals(user?.profile._id)) { %>
          <a href="/recipes/<%= recipe._id %>/edit">
          <button class ="btn">Edit this recipe</button>
          </a>
        <% } %>  
    </section>

    <%- include('../partials/footer') %>