<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

    <section>
      <p>From the kitchen of <%= recipe.owner.name %>...</p>
      <h1>
        <%= recipe.name %>
    </section>

    <%- include('../partials/footer') %>