<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/show.css">
  <%- include('../partials/nav') %>

    <body>
    <section>
      <div class="recipe-details">
      <div class="headline">From the kitchen of <%= recipe.owner.name %>...</div>
      
      <div class="recipe-name">Recipe name:
        <%= recipe.name %>
      </div>
      <div class="recipe-ingredients">Ingredients:
        <%= recipe.ingredients %>
      </div>
      <div class="recipe-instructions">
        Instructions:<%= recipe.instructions %>
      </div>
      <div class="recipe-url">
          <a target="_blank" class="link-btn" href="<%= recipe.url %>">Link for <%= recipe.name %></a>
        </div>
      </div>

        <div class="buttons-box">
        <% if (recipe.owner.equals(user?.profile._id)) { %>
          <a href="/recipes/<%= recipe._id %>/edit">
          <button class ="btn">Edit this recipe</button>
          </a>
          <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
            <div class="delete-button">
            <button class="btn" type="submit">Delete this recipe</button>
          </div>

          </form>
        <% } %>  
        </div>
      </div>
  </section>

  <div class="review">
  <h2>Reviews</h2>
  <form 
    id="add-review-form"
    action="/recipes/<%= recipe._id %>/reviews"
    method="POST"
  >
    <label for="content-textarea">Review:</label>
    <textarea name="content" id="content-textarea"></textarea>
    <label for="rating-select">Rating:</label>
    <select name="rating" id="rating-select">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" selected>5</option>
    </select>
    <button type="submit">Add Review</button>
  </form>

  <% if (recipe.reviews.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Review</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% recipe.reviews.forEach(function(review) { %>
          <tr>
            <td><%= review.createdAt.toLocaleDateString() %></td>
            <td><%= review.content %></td>
            <td><%= review.rating %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Reviews Yet</h3>
  <% } %>
</div>
  </body>

    <%- include('../partials/footer') %>